.about-me {
   text-align: center;
   position: relative;
}

.circle-about {
   position: absolute;
   left: 0;
   bottom: 100px;
}

.about-section-container {
   display: flex;
   align-items: center;
   gap: 40px;
   margin-top: 60px;
}

.about-img {
   width: 25rem;
   height: 28rem;
   border-radius: 5px;
   filter: drop-shadow(0 1.6rem 1.6rem rgba(51, 51, 51, 0.25));
}

.about-text {
   max-width: 35.5rem;
   overflow: hidden;
}

.about-text p {
   font-weight: 400;
   font-size: 1.2em;
   color: #414141;
   margin-bottom: 2.4rem;
}

@media only screen and (max-width: 900px) {
   .about-section-container {
      flex-direction: column;
   }
   .circle-about {
      display: none;
   }
}

@media only screen and (max-width: 600px) {
   .about-img {
      width: 100%;
      height: auto;
   }
}
